{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Simple Image Gallery</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <h2> &#128247My Image Gallery</h2>

  <div class="gallery">
    <img src="{% static 'vj.1.jpg' %}" alt="Photo 1">
    <img src="{% static 'vj.2.jpg' %}" alt="Photo 2">
    <img src="{% static 'vj.3.jpeg' %}" alt="Photo 3">
    <img src="{% static 'vj.4.webp' %}" alt="Photo 4">
  </div>

  <div class="popup" id="popup">
    <span id="close">&times;</span>
    <img id="popupImg" src="">
  </div>
  <center>
    <h3>&copy;Image Gallery Designed by:</h3>
    <h2>SIVANESH KUMAR.N</h2>
  </center>

  <script src="{% static 'script.js' %}"></script>
</body>
</html>